<html>


<head>

<title>ToDo</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<style type="text/css">
body { font-family: "monospace"; width: 540px; margin: 40px auto; }
h1 { font-size: 65px; text-align: right; }
a.del { color: #FF0000; border-bottom: 1px dotted #FF0000; text-decoration: none; }
a:hover.del { color: #FF0000; border-bottom: 1px solid #FF0000; }
span.c1 { font-size: 17px; }
span.c2 { font-size: 23px; font-weight: bold; }
span.c3 { font-size: 9px; }
a.back { color: #000000; border-bottom: none; text-decoration: none; }
a:hover.back { color: #000000; border-bottom: none; }
</style>

</head>


<body>

<a class="back" href="/"><h1>ToDo List</h1></a>
<span class="c2">Viewing entries tagged with <em>{{ tag }}</em>:</span>
<hr>
{% for each in tag_items %}
<span class="c1">{{ each.content }}</span>
<span class="c3"><a class="del" href="/delete/{{ each.id }}/{{ tag }}">Delete</a></span>
<hr>
{% endfor %}
</body>


</html>

